/*---------------CUSTOM PROPERTIES---------------*/
/*colores primarios*/
:root {
  --first-color: #907ad6;
  --first-alpha-color: rgba(144, 122, 214, 0.75);
  --second-color: #171d1c;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #4f518c;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --link-color: #509ee3;
  --tittle-color: null;
  --text-color: null;
  --font: "Raleway", "sansserif";
  --max-width: 1200px;
  --header-heigth: 4rem;
}

/*---------------RESET---------------*/
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
  color: var(--text-color);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  color: var(--link-color);
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

p {
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

/*---------------COMPONENTS---------------*/
/*Carousel*/
.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form>* {
  margin: 1rem auto;
  padding: 0.5rem;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
}

.contact-form input {
  border: 0;
  border-bottom: thin solid var(--gray-dark-color);
  padding-left: 0;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75%;
}

.contact-form::placeholder {
  color: var(--gray-dark-color);
}

.contact-form textarea {
  border: thin solid var(--gray-dark-color);
  resize: none;
}

/*HeroImage*/
.hero-image {
  background-image: var(--hero-home);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  width: 100%;
  min-height: 100vh;
}

.hero-image-opacity {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--opacity);
}

.hero-image-tittle {
  color: var(--white-color);
  font-size: 7.5vw;
}

/*Menu*/
.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-heigth);
  width: 100%;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

.menu.is-active {
  pointer-events: auto;
  opacity: 1;
}

.menu-btn {
  background-color: var(--second-color);
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
}

.menu-btn svg {
  fill: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    pointer-events: auto;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

/* ********** Modal ********** */
.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--first-color);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/*ProgressBar */
progress {
  width: 100%;
  height: 1rem;
  background-color: var(--gray-color);
}

progress::-webkit-progress-bar {
  background-color: var(--gray-color);
}

progress::-webkit-progress-value {
  background-color: var(--gray-dark-color);
}

progress::-moz-progress-value {
  background-color: var(--gray-dark-color);
}

.progress {
  margin: 1rem;
}

.progress>p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
}

/*Modal*/
.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

/*----------------------------UTILITIES-------------------------------------*/
.bg-gray-light {
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  background-color: var(--first-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.gray-scale {
  filter: grayscale(1);
}

.none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media screen and (min-width: 1024px) {
  .full-lg-screen {
    width: 100%;
    height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}

.section-title {
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  width: 250px;
  color: var(--text-color);
  margin: 2rem auto;
  padding: 0.5rem 1rem;
  text-align: center;
}

.spacing-aside {
  padding: 2rem 1rem;
}

/*---------------STYLE SITES--------------*/
.about>article {
  margin-bottom: 2rem;
}

.contact-card {
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-card>svg {
  width: 2rem;
  height: 2rem;
  fill: var(--first-color);
}

.contact-form-response {
  padding: 1rem;
  width: 40%;
  text-align: center;
  background-color: var(--white-color);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-color);
}

.footer {
  background-color: var(--third-color);
  color: var(--white-color);
  text-align: center;
  padding: 1rem;
  margin-bottom: var(--header-heigth);
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: var(--header-heigth);
  background-color: var(--second-color);
  padding: 1rem;
}

header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: var(--first-color);
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.service-card {
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
}

.service-card svg {
  fill: var(--first-color);
  margin-bottom: 1.25rem;
}

.service-card h3 {
  color: var(--tittle-color);
}

.social-media a {
  text-decoration: none;
  padding: 0 0.5rem;
}

.social-media svg {
  width: 1.5rem;
  height: 1.5rem;
}

/*Media querys Screen*/
/*version tablet*/
@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-evenly;
  }

  .services>.container {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
    align-items: center;
    grid-auto-rows: 14rem;
  }

  .services .section-title {
    margin-top: 0;
    grid-column: span 2;
  }
}

/*version desktop*/
@media screen and (min-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-content: center;
    justify-content: space-between;
  }

  .contact-cards {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-evenly;
  }

  .contact-form {
    display: grid;
    grid-template-columns: repeat(2, 1f);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea {
    grid-column: span 2;
  }

  .contact-form-loader {
    grid-column: span 2;
  }

  .contact-form input[type="submit"] {
    grid-column: span 2;
    margin-left: 0;
  }

  .footer {
    margin-bottom: 0;
  }

  .footer small {
    font-size: 1rem;
  }

  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }
}

/* Boton Scroll Top */
.btn-scroll-top {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  outline: none;
  border: 0;
  background-color: var(--first-alpha-color);
  background-image: url(/assets/top.svg);
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vh;
}

.btn-scroll-top:hover {
  opacity: .7;
  transition: opacity .3s ease;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}